@import 'bootstrap-sprockets'
@import 'bootstrap'
@import 'colors'
@import 'navbar'

html,
body
  min-height: 100%

body
  background:      image-url('bg-image.jpg') center center no-repeat
  background-size: cover

.container
  background:     $content-bg-color
  border-radius:  5px
  margin-bottom:  10rem
  padding-top:    5rem
  padding-bottom: 5rem

.page-title
  text-align: center
